body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.body1{
    display: flex;
}
.top-bar {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    
    
}

.top-bar .logo {
    
    display: flex;
    align-items: center;
}

.top-bar .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.top-bar span {
    font-size: 24px;
    font-weight: bold;
    color: #f39c12;
}

.top-bar .helpline {

    display: flex;
    align-items: center;
}

.top-bar .helpline i {
    margin-right: 5px;
}

.sidebar {
    margin-top:4.6%;
    width: 250px;
    background: #2c3e50;
    color: #fff;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    margin: 10px;
    background: #34495e;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a .material-icons {
    margin-right: 10px;
}

.sidebar ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content {
    margin-top:3%;
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.header .profile {
    display: flex;
    align-items: center;
    gap:15px;
}

.header .profile .material-icons {
    margin-right: 10px;
}
.user-avatar {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: 23%;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card-content h3 {
    margin: 0;
    padding-bottom: 10px;
}
/* Card Backgrounds */
.card1 {
    background: #3498db; /* Blue */
}

.card2 {
    background: #2ecc71; /* Green */
}

.card3 {
    background: #e74c3c; /* Red */
}

.card4 {
    background: #f39c12; /* Yellow */
}

.card5 {
    background: #9b59b6; /* Purple */
}

.card6 {
    background: #1abc9c; /* Teal */
}

.card7 {
    background: #e67e22; /* Orange */
}

.card8 {
    background: #ecf0f1; /* Light Grey */
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}